/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* site design */

@media screen and (max-width: 468px) {

    p {
        font-weight: 600;
        color: #402A2C;
    }

    body {
        background-color: #9F86C0;
    }

    /* nav */
    nav {
        padding-top: 10px;
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav>p {
        font-size: 40px;
    }
    /* nav */
    /* main div */
    div {
        margin-top: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    div>p {
        font-size: 22px;
        text-align: center;
    }
    
    #list-links {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    #list-links a {
        text-decoration: none;
        color: #5E548E;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E0B1CB;
        width: 200px;
        height: 50px;
        border-radius: 8px;
    }

    /* footer */

    footer {
        margin-top: 150px;
        color: #FFF;
    }

    footer>p {
        text-align: center;
        opacity: 0.2;
    }

}

/* 

break - pagina de fotos

*/

@media screen and (max-width: 468px) {

    body {
        background-color: #9F86C0;
    }

    .nav-photos{
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-photos>p:nth-of-type(2) {
        font-size: 20px;
        text-align: center;
    }

    #photo-gallery {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .photo {
        border-radius: 8px;
        width: 85%;
        height: 400px;
        background-color: black;
        border: 1px solid white;
    }

}