/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* site design */

p {
    font-weight: 600;
    color: #402A2C;
    font-family: Inter, sans-serif;
}

body {
    background-color: #9F86C0;
}

@media screen and (max-width: 468px) {

    /* nav */
    #nav-main-page {
        padding-top: 10px;
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nav-main-page>p {
        font-size: 38px;
        text-align: center;
    }
    /* nav */
    /* main div */
    #menu {
        margin-top: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    #menu>p {
        font-size: 22px;
        text-align: center;
    }
    
    #list-links {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    #list-links a {
        text-decoration: none;
        color: #5E548E;
    }

    #list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E0B1CB;
        width: 200px;
        height: 50px;
        border-radius: 8px;
    }

    #list-item a:hover {
        transform: scale(1.1);
    }

    /* footer */

    footer {
        margin-top: 150px;
        color: #FFF;
    }

    footer>p {
        text-align: center;
        opacity: 0.2;
    }

}

/* 

break - pagina de fotos

*/

@media screen and (max-width: 468px) {

    body {
        background-color: #9F86C0;
    }

    .nav-photos{
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .nav-photos>p:nth-of-type(2) {
        font-size: 20px;
        text-align: center;
    }

    #photo-gallery {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .photo {
        border-radius: 8px;
        width: 95%;
        height: 300px;
        background-color: black;
        border: 1px solid white;
    }

}

/* break - pagina dos textinhos */

@media screen and (max-width: 468px) {

    #nav-textinhos {
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    #nav-textinhos>p:nth-of-type(2) {
        font-size: 20px;
        text-align: center;
    }

    #nav-textinhos>p:nth-of-type(3) {
        font-size: 12px;
        text-align: center;
        opacity: 0.7;
    }

    #text-gallery {
        display: flex;
        background-color: #E39EC1;
        border-radius: 15px;
    }

    .texto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto p {
        text-align: center;
    }

    .texto h1 {
        font-weight: 700;
        font-size: 22px;
    }



}